
<div>
    <div>
      <div>
        Please indicate the amount you want to request is reimbursed.
        <input [(ngModel)]=reimbursement.amount placeholder="amount" required/>
      </div>
      <div>
        Please give a brief description of why this should be reimbursed.
        <input [(ngModel)]=reimbursement.description placeholder="description" required/>
      </div>
      <div>
        TODO: drop-down for different types.

        <label for="type">Reimbursement Type</label>
          <select [(ngModel)]=reimbursement.type class="form-control" id="type" required>
            <option  *ngFor="let ty of types" [value]="ty">{{ty}}</option>
          </select>
           <!-- TODO: delete. -->

      </div>
        <button type="submit" class="btn btn-success" (click)=trySubmit()>Submit</button>
      
    </div>
    Currently logged in as: {{userFirstName}}
</div>
