
<div>
    <div>
      <div class = "list-group-item">
       <p> Please indicate the amount you want to request is reimbursed.</p>
        <input [(ngModel)]=reimbursement.amount placeholder="amount" required/>
      </div>
      <div class = "list-group-item">
        <p>Please give a brief description of why this should be reimbursed. </p>
        <input [(ngModel)]=reimbursement.description placeholder="description" required/>
      </div>
      <div class = "list-group-item">
        <label for="type">Reimbursement Type (default is 'Other')</label>
          <select [(ngModel)]=reimbursement.type class="form-control" id="type" required>
            <option  *ngFor="let ty of types" [value]="ty">{{ty}}</option>
          </select>
           <!-- TODO: delete. -->

      </div>
      <div class = "list-group-item">
        <button type="submit" class="btn btn-success" (click)=trySubmit()>Submit</button>
      </div>
    </div>
    <div class = "list-group-item">
      {{clientMessage}}
    </div>
    <div class = "panel-footer">
      Currently logged in as: {{userFirstName}}
    </div>
</div>
