<div>
    <div class="panel-heading">
      <p>Pending Reimbursement History for: {{loggedUser.username}}</p>
    </div>
    <div class = "panel-body">
      <!-- ngfor reimbursements. -->

      <table class="table">
          <tr>
            <th>Request #  </th>
            <th>Username  </th>
            <th>Amount</th>
            <th>Description  </th>
            <th>Date</th>
          </tr>
          <tr *ngFor="let reimbursement of reimbursements">
            <td>{{reimbursement.id}}</td>
            <td>{{reimbursement.requester.username}}</td>
            <td>{{reimbursement.amount}}</td>
            <td>{{reimbursement.description}}</td>
            <td>{{printDate(reimbursement)}}</td>
          </tr>
    
        </table>
      <!--
      <div class="list-group">
        <div class="list-group-item">
          <li *ngFor="let reimbursement of reimbursements">
            <span>{{print(reimbursement)}}</span>
            <div class="list-group-item list-group-demo">
              <p>{{printDate(reimbursement)}}</p>
              <p>Description: {{reimbursement.description}}</p>
            </div>
          </li>
          
        </div>
      </div> -->
    </div>
  </div>