<div>
    <div class="panel-heading">
        <span class="label label-default label-center">{{title}}</span>
    </div>
    <div class="panel-body">
    <img class="image-center" src="" />
    <div class="list-group">
        <div class="list-group-item">
            <button class ="btn btn-md btn-block" id = "submitReimbursement" routerLink = "/submit">Submit new Reimbursement</button>
        </div>
        <div class="list-group-item">
            <button class="btn btn-md btn-block" routerLink = "/history">View my Reimbursement History</button>
        </div>
        <div class="list-group-item">
            <button class="btn btn-md btn-block" routerLink="/pending">View Pending Reimbursements</button>
        </div>
        <div class="list-group-item">
            <button class="btn btn-md btn-block" routerLink="/resolved">View Resolved Reimbursements</button>
        </div>
        <div class="list-group-item">
            <button class="btn btn-md btn-block" routerLink="/profile">Update Profile</button>
        </div>
    </div>
    </div>
    <div class="panel-footer">
        Currently logged in as: {{userFirstName}}
    </div>
</div>