<div>
    <div class="panel-heading">
        <span class="label label-default label-center">{{title}}</span>
    </div>
    <div class="panel-body">
    <img class="image-center" src="" />
    <div class="list-group">
        <div class="list-group-item" *ngIf=!isManager>
            <button class ="btn btn-md btn-block"  routerLink = "/submit">Submit new Reimbursement</button>
        </div>
        <div class="list-group-item" *ngIf=!isManager>
            <button class="btn btn-md btn-block" routerLink="/pending">View Pending Reimbursements</button>
        </div>
        <div class="list-group-item" *ngIf=!isManager>
            <button class="btn btn-md btn-block" routerLink="/resolved">View Resolved Reimbursements</button>
        </div>

        <div class="list-group-item" *ngIf=isManager>
            <button class ="btn btn-md btn-block"routerLink = "/register">Register New Employee</button>
        </div>
        <div class="list-group-item" *ngIf=isManager>
            <button class ="btn btn-md btn-block" routerLink = "/allEmployees">View All Employees</button>
        </div>
        <div class="list-group-item" *ngIf=isManager>
            <button class="btn btn-md btn-block" routerLink="/allPending">View All Pending Reimbursements</button>
        </div>
        <div class="list-group-item" *ngIf=isManager>
            <button class="btn btn-md btn-block" routerLink="/allResolved">View All Resolved Reimbursements</button>
        </div>
        

        <div class="list-group-item">
            <button class="btn btn-md btn-block" routerLink="/profile">Update Profile</button>
        </div>
    </div>
    </div>
    <div class="panel-footer">
        Currently logged in as: {{userFirstName}}
        isManager: {{isManager}}
    </div>
</div>