<div class="panel panel-default">
  <div class="panel-heading">
    <p>Pending Reimbursements </p>
  </div>

  <div class="col-lg-6">
    <div class="input-group-btn">
        <label for="type">Select User to see specific requests</label>
        <select [(ngModel)]=input class="form-control" id="search" required>
          <option  *ngFor="let emp of employees; trackBy: trackEmployee" [value]="emp">{{emp.username}}</option>
        </select>
        <button id="searchButton" class="btn btn-default" type="button" (click)=search(i)>Search</button>
        <button class="btn btn-default" type="button" (click)=reset()>Reset</button>
    </div>
  </div>

  <div class = "panel-body">
    <p id="clientMessage">{{clientMessage}}</p>
    <table class="table" id="reimbursementList">
      <tr>
        <th>Request #  </th>
        <th>Username  </th>
        <th>Amount</th>
        <th>Description  </th>
        <th>Date</th>
        <th>Approve?</th>
        <th>Deny?</th>
      </tr>
      <tr *ngFor="let reimbursement of reimbursements; let i = index">
        <td>{{reimbursement.id}}</td>
        <td>{{reimbursement.requester.username}}</td>
        <td>{{reimbursement.amount}}</td>
        <td>{{reimbursement.description}}</td>
        <td>{{printDate(reimbursement)}}</td>
        <!--<td>{{i}}</td>-->
        <td>
            <button type="button" class="btn btn-default" id="reimbursement.id" (click)="approve(i)">Approve</button>
        </td>
        <td>
            <button type="button" class="btn btn-default" id="reimbursement.id" (click)="deny(i)">Deny</button>
        </td>
      </tr>

    </table>
  </div>
</div>

